*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}

.card{
    color: white;
    display: flex;
    flex-wrap: wrap;
}

/* unpin after program completion  */
.card:hover{
    background-color: rgba(255, 255, 255, 0.151);
    cursor: pointer;
    border-radius: 9px;
} 

.imageBox{
    position: relative;
}

.image{
    border-radius: 6px;
    height: 144px;
    width: 240px;
    margin: 10px;
}

.timeDurance{
    position: absolute;
    z-index: 1;
    border-radius: 3px;
    padding: 4px;
    font-size: 12px;
    bottom: 19px;
    right: 17px;
    background-color: #000000a1;
}

.forTitle{
   color: white;
   font-family:  sans-serif; 
   font-weight: bold; 
   padding: 17px 11px 22px 1px;
}

.secPart{
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    gap: 22px;
}
