* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 65px;
    font-size: xx-small;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    background-color: white;
    cursor: pointer;
}

.items {
    font-size: small;
    display: flex;
    align-items: center;
    gap: 4px;
}

.items a {
    text-decoration: none;
    color: rgb(87, 86, 86);
}

div img {
    margin-left: 50px;
}

.item-5 a {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.containerNo2 {
    text-align: center;
    padding: 50px 20px;
}

.containerNo2 span {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
}

.container2 img {
    width: 100px;
}

.containerNo2 p {
    font-size: 25px;
    font-weight: 400;
    width: 68vw;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
}

.button {
    background-color: #00b6d1;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.containerNo2 button:hover {
    background-color: aqua;
}


.Papa {
    margin: auto;
    width: 76vw;
}

.side {
    display: flex;
    align-items: center;
    padding: 22px;
    gap: 25px;
}

.side :nth-child(2) {
    font-size: 30px;
}

.containerNo3 {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 63vw;
    margin: 0 auto;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 13px;
}

.item>h3 {
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 20px;
}

.item>h6 {
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.item button {
    background-color: #5cb85c;
    padding: 14px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.item button a {
    text-decoration: none;
    color: white;
}

.item>p {
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 8px;
    padding: 15px;
}

.item button:hover {
    background-color: rgb(16, 230, 16);
}


@media only screen and (max-width:700px) {
    .containerNo3 {
        grid-template-columns: 1fr;
    }
    .side {
        justify-content: end;
    }
}

.child {
    background-color: black;
    display: grid;
    justify-content: center;
}

.contain {
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 150px;
    gap: 20px;
}

.head {
    font-size: 30px;
    font-weight: bold;
}

.paragraph {
    font-weight: lighter;
}

.flex {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: 17px;
    padding-bottom: 50px;
}
.signup{
    font-weight:lighter;
    font-size:medium;
    padding: 29px 5px;
}

.login {
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 10px;
    padding: 50px;
    background-color: whitesmoke;
    margin: 0 auto;
    gap: 10px;
}

.login h3 {
    color: blue;
    text-align: center;
    margin: 0 auto;
}

.login p {
    text-align: center;
    padding: 20px;
}

.login input {
    padding: 10px;
    align-items: center;
}

.btn {
    color: white;
    font-size: 15px;
    font-weight: bolder;
    padding: 10px;
    background-color: #00b6d1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


