 * {
     margin: 0;
     padding: 0;
 }

 .logo img {
     width: 164px;
 }

 nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     font-family: "Segoe UI";
 }

 .right ul {
     display: flex;
     gap: 34px;
 }

 .right ul li {
     display: flex;
     list-style: none;
     align-items: center;
     cursor: pointer;
 }

 .right ul li span {
     padding: 10px 9px;
 }

 .first {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 30px;
     margin: 34px;
     font-family: sans-serif;
 }

 .first span {
     font-size: 40px;
 }

 section span img {
     width: 81px;
     margin: 0 23px;
 }

 .first p {
     font-size: 19px;
     text-align: center;
     width: 53vw;
 }

 .btn {
     background-color: #00b6d1;
     padding: 12px 20px;
     margin: 12px ;
     border: none;
     border-radius: 6px;
     color: white;
     font-weight: 700;
     cursor: pointer;
 }

 .flex {
     display: flex;
 }

 .small {
     font-size: 12px;
 }

 .second {
     max-width: 70vw;
     margin: auto;
 }

 .green {
     background-color: #5cb85c;
 }

 .item {
     background-color: #f9f9f9;
     padding: 23px;
     border-radius: 12px;
     font-size: 20px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-align: center;
 }

 .item-lang {
     font-weight: 700;
     text-align: center;
     padding-bottom: 36px;
 }

 .grid {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 12px;
 }

 .download :nth-child(2) {
     font-size: 22px;
     padding: 22px 12px;
 }

 .download {
     display: flex;
     /* justify-items: center; */
     align-items: center;
     gap: 10px;
     font-family: sans-serif;
 }

 @media screen and (max-width :1000px) {
     .grid {
         grid-template-columns: 1fr;

     }
 }

 .btn a{
    text-decoration: none;
    color: white;
 }
